:root {
    --main-color: white;
    --warning-background-color: #eecc16;
    --warning-text-color: black;
    --warning-scale: 1.5;

    --banner-color-hue: 0;
    --banner-color-saturation: 0%;
    --banner-color-luminance: 20%;
    --banner-color: hsl(
        var(--banner-color-hue),
        var(--banner-color-saturation),
        var(--banner-color-luminance)
    );

    --nav-text-color-hue: 0;
    --nav-text-color-saturation: 0%;
    --nav-text-color-luminance: 83%;
    --nav-text-color: hsl(
        var(--nav-text-color-hue),
        var(--nav-text-color-saturation),
        var(--nav-text-color-luminance)
    );

    /* Lighten background for hovered navigation element */
    --banner-hover-color-lighten: 18%;
    --banner-hover-color-hue:        var(--banner-color-hue);
    --banner-hover-color-saturation: var(--banner-color-saturation);
    --banner-hover-color-luminance:  calc(var(--banner-color-luminance) + var(--banner-hover-color-lighten));
    --banner-hover-color: hsl(
        var(--banner-hover-color-hue),
        var(--banner-hover-color-saturation),
        var(--banner-hover-color-luminance)
    );

    --nav-text-hover-lighten: var(--banner-hover-color-lighten);
    --nav-text-hover-color-hue:        var(--nav-text-color-hue);
    --nav-text-hover-color-saturation: var(--nav-text-color-saturation);
    --nav-text-hover-color-luminance:  calc(var(--nav-text-color-luminance) + var(--nav-text-hover-lighten));
    --nav-text-hover-color: hsl(
        var(--nav-text-hover-color-hue),
        var(--nav-text-hover-color-saturation),
        var(--nav-text-hover-color-luminance)
    );

    /* Darken slightly when link navigation element is selected */
    --banner-active-color-lighten: -10%;
    --banner-active-color-hue:        var(--banner-hover-color-hue);
    --banner-active-color-saturation: var(--banner-hover-color-saturation);
    --banner-active-color-luminance:  calc(var(--banner-hover-color-luminance) + var(--banner-active-color-lighten));
    --banner-active-color: hsl(
        var(--banner-active-color-hue),
        var(--banner-active-color-saturation),
        var(--banner-active-color-luminance)
    );

    --nav-text-active-color-lighten: var(--banner-active-color-lighten);
    --nav-text-active-color-hue:        var(--nav-text-hover-color-hue);
    --nav-text-active-color-saturation: var(--nav-text-hover-color-saturation);
    --nav-text-active-color-luminance:  calc(var(--nav-text-hover-color-luminance) + var(--nav-text-active-color-lighten));
    --nav-text-active-color: hsl(
        var(--nav-text-active-color-hue),
        var(--nav-text-active-color-saturation),
        var(--nav-text-active-color-luminance)
    );

    --nav-separator-color-hue: 0;
    --nav-separator-color-saturation: 0%;
    --nav-separator-color-luminance: 83%;
    --nav-separator-color: hsl(
        var(--nav-separator-color-hue),
        var(--nav-separator-color-saturation),
        var(--nav-separator-color-luminance)
    );

    /* Swap colors for current navigation element */
    --nav-text-current-color-hue:        var(--banner-color-hue);
    --nav-text-current-color-saturation: var(--banner-color-saturation);
    --nav-text-current-color-luminance:  var(--banner-color-luminance);
    --nav-text-current-color: hsl(
        var(--nav-text-current-color-hue),
        var(--nav-text-current-color-saturation),
        var(--nav-text-current-color-luminance)
    );
    --banner-current-color-hue:        var(--nav-text-color-hue);
    --banner-current-color-saturation: var(--nav-text-color-saturation);
    --banner-current-color-luminance:  var(--nav-text-color-luminance);
    --banner-current-color: hsl(
        var(--banner-current-color-hue),
        var(--banner-current-color-saturation),
        var(--banner-current-color-luminance)
    );

    --nav-text-current-hover-lighten: 13%;
    --nav-text-current-hover-color-hue:        var(--nav-text-current-color-hue);
    --nav-text-current-hover-color-saturation: var(--nav-text-current-color-saturation);
    --nav-text-current-hover-color-luminance:  calc(var(--nav-text-current-color-luminance) + var(--nav-text-current-hover-lighten));
    --nav-text-current-hover-color: hsl(
        var(--nav-text-current-hover-color-hue),
        var(--nav-text-current-hover-color-saturation),
        var(--nav-text-current-hover-color-luminance)
    );

    --banner-current-hover-color-lighten: var(--nav-text-current-hover-lighten);
    --banner-current-hover-color-hue:        var(--banner-current-color-hue);
    --banner-current-hover-color-saturation: var(--banner-current-color-saturation);
    --banner-current-hover-color-luminance:  calc(var(--banner-current-color-luminance) + var(--banner-current-hover-color-lighten));
    --banner-current-hover-color: hsl(
        var(--banner-current-hover-color-hue),
        var(--banner-current-hover-color-saturation),
        var(--banner-current-hover-color-luminance)
    );

    --banner-current-active-color-lighten: -10%;
    --banner-current-active-color-hue:        var(--banner-current-hover-color-hue);
    --banner-current-active-color-saturation: var(--banner-current-hover-color-saturation);
    --banner-current-active-color-luminance:  calc(var(--banner-current-hover-color-luminance) + var(--banner-current-active-color-lighten));
    --banner-current-active-color: hsl(
        var(--banner-current-active-color-hue),
        var(--banner-current-active-color-saturation),
        var(--banner-current-active-color-luminance)
    );

    --nav-text-current-active-color-lighten: var(--banner-current-active-color-lighten);
    --nav-text-current-active-color-hue:        var(--nav-text-current-hover-color-hue);
    --nav-text-current-active-color-saturation: var(--nav-text-current-hover-color-saturation);
    --nav-text-current-active-color-luminance:  calc(var(--nav-text-current-hover-color-luminance) + var(--nav-text-current-active-color-lighten));
    --nav-text-current-active-color: hsl(
        var(--nav-text-current-active-color-hue),
        var(--nav-text-current-active-color-saturation),
        var(--nav-text-current-active-color-luminance)
    );

    --nav-font-size: 1.1em;
    --footer-font-size: 0.8em;

    /* NOTE: not able to be used anywhere, just a reminder as the the
     * breakpoint for layout changes
     */
    --skinny-device-width: 30em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    display: list-item;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header > nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    background-color: var(--banner-color);
}

header > nav > ul > li {
    margin: 0;
    padding: 0;
    border-right: inset 0.1em var(--nav-separator-color);
    display: flex;
    align-items: center;
    text-align: center;
}

header > nav a {
    font-size: var(--nav-font-size);
    padding: 1em 1em;
}

header > nav,
header > nav a,
footer,
footer a {
    /* The text color has to be explicitly set on the a tags, because the
     * cascade to children of header and footer tags is overridden because of
     * sanitize.css included in the baseof.html template
     */
    color: var(--nav-text-color);
}

header li:hover,
header li:focus,
header li:focus-visible,
header li > a:hover,
header li > a:focus,
header li > a:focus-visible {
    background-color: var(--banner-hover-color);
    color: var(--nav-text-hover-color);
}

header li:active,
header li > a:active {
    background-color: var(--banner-active-color);
    color: var(--nav-text-active-color);
}

header li.current,
header li.current > a {
    background-color: var(--banner-current-color);
    color: var(--nav-text-current-color);
}

header li.current:hover,
header li.current:focus,
header li.current:focus-visible,
header li.current > a:hover,
header li.current > a:focus,
header li.current > a:focus-visible {
    background-color: var(--banner-current-hover-color);
    color: var(--nav-text-current-hover-color);
}

header li.current:active,
header li.current > a:active {
    background-color: var(--banner-current-active-color);
    color: var(--nav-text-current-active-color);
}

header > nav a {
    text-decoration: none;
}

footer a {
    font-size: var(--footer-font-size);
    text-decoration: underline dotted;
    padding: 0.4em;
}

footer {
    display: flex;
    background-color: var(--banner-color);
}

.left-footer, .right-footer {
    flex: 1 1 auto;
}

.left-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.right-footer {
    padding: 0.4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

/* NOTE: this breakpoint needs to adjust with the number of tabs in the header
 * this will likely require javascript
 */
@media screen and (max-width: 40em) {
    header > nav > ul {
        flex-flow: column nowrap;
    }

    header > nav > ul > li {
        border: 0 black;
        border-bottom: inset 0.1em var(--nav-separator-color);
        width: 100%;
    }

    header > nav a {
        width: 100%;
        text-align: left;
    }

    header > nav > ul > li:last-child {
        border: 0 black;
    }

    footer {
        flex-flow: column wrap;
    }

    .left-footer, .right-footer {
        justify-content: center;
        text-align: center;
    }

    .right-footer {
        padding-top: 0;
    }
}

main {
    flex: 1 1 auto;
    padding: 2em;
}

picture > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    --scale: 1.3;
    font-size: calc(var(--scale) * 1em);
    padding: calc(1em / var(--scale));
    color: white;
    background-color: #337ab7;
    border-radius: calc(0.5em / var(--scale));
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #2e6da4;
    vertical-align: middle;
    text-align: center;
}

.logo {
    width: 100%;
}

.logo > img {
    max-width: 40%;
}

@media screen and (max-width: 30em) {
    .logo > img {
        width: 100%;
    }
}

/* floats for image shortcode */
.right, .left {
    max-width: calc(100% / 3);
}

.right {
    float: right;
    margin-left: 2em;
}

.left  {
    float: left;
    margin-right: 2em;
}
/* floats for image shortcode */

@media screen and (max-width: 30em) {
    .right, .left {
        margin: 0;
        max-width: 100%;
        float: none;
    }
}

nav#TableOfContents ul,
nav#TableOfContents ol {
    margin-left: 1.5em;
    list-style-position: inside;
}

/* don't indent the first level of the list */
nav#TableOfContents > ul,
nav#TableOfContents > ol {
    margin: 0;
}

nav#TableOfContents > ol {
    list-style-type: decimal;
}

nav#TableOfContents > ul {
    list-style-type: disc;
}

nav#TableOfContents > ol > li > ol {
    list-style-type: lower-alpha;
}

nav#TableOfContents > ul > li > ul {
    list-style-type: circle;
}

nav#TableOfContents > ol > li > ol > li > ol {
    list-style-type: lower-roman;
}

nav#TableOfContents > ul > li > ul > li > ul {
    list-style-type: square;
}

.warning {
    margin: 0;
    padding: calc(1em / var(--warning-scale));
    color: var(--warning-text-color);
    text-align: center;
    background-color: var(--warning-background-color);
    z-index: 1;
    font-size: calc(1em * var(--warning-scale));
}

.warning::before {
    /* hollow caution or warning sign */
    content: '\26A0';
}
