:root {
    --banner-color: rgb(51, 51, 51);
    --main-color: white;
    --nav-text-color: lightgrey;
    --nav-separator-color: lightgrey;
    --nav-font-size: 1.1em;
    --footer-font-size: 0.8em;
    --skinny-device-width: 30em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    background-color: var(--banner-color);
}

nav > ul > li {
    margin: 0;
    padding: 0;
    border-right: inset 0.1em var(--nav-separator-color);
    display: flex;
    align-items: center;
    text-align: center;
}

nav a {
    font-size: var(--nav-font-size);
    padding: 1em 1em;
}

header,
header a,
footer,
footer a {
    /* The text color has to be explicitly set on the a tags, because the
     * cascade to children of header and footer tags is overridden because of
     * sanitize.css included in the baseof.html template
     */
    color: var(--nav-text-color);
}

/* Swap colors for active navigation element */
li.active, li.active > a {
    background-color: var(--nav-text-color);
    color: var(--banner-color);
}

header a {
    text-decoration: none;
}

footer a {
    font-size: var(--footer-font-size);
    text-decoration: underline dotted;
    padding: 0.4em;
}

footer {
    display: flex;
    background-color: var(--banner-color);
}

.left-footer, .right-footer {
    flex: 1 1 auto;
}

.left-footer {
    display: flex;
    flex-flow: row wrap;
}

.right-footer {
    padding: 0.4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

@media screen and (max-width: 30em) {
    nav > ul {
        flex-flow: column nowrap;
    }

    nav > ul > li {
        border: 0 black;
        border-bottom: inset 0.1em var(--nav-separator-color);
        width: 100%;
    }

    nav a {
        width: 100%;
        text-align: left;
    }

    nav > ul > li:last-child {
        border: 0 black;
    }

    footer {
        flex-flow: column wrap;
    }

    .left-footer {
        justify-content: center;
    }

    .right-footer {
        padding-top: 0;
        justify-content: center;
    }
}

main {
    flex: 1 1 auto;
    padding: 2em;
}

.iframe-container {
    position: relative;
    width: 100%;
}

.iframe-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

picture > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    --scale: 1.3;
    font-size: calc(var(--scale) * 1em);
    padding: calc(1em / var(--scale));
    color: white;
    background-color: #337ab7;
    border-radius: calc(0.5em / var(--scale));
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #2e6da4;
    vertical-align: middle;
    text-align: center;
}

.logo {
    width: 100%;
}

.logo > img {
    max-width: 40%;
}

@media screen and (max-width: 30em) {
    .logo > img {
        width: 100%;
    }
}

.right, .left {
    max-width: calc(100% / 3);
}

.right {
    float: right;
    margin-left: 2em;
}

.left  {
    float: left;
    margin-right: 2em;
}

@media screen and (max-width: 30em) {
    .right, .left {
        margin: 0;
        max-width: 100%;
        float: none;
    }
}
