:root {
    --banner-color: rgb(51, 51, 51);
    --main-color: white;
    --nav-text-color: lightgrey;
    --nav-separator-color: lightgrey;
    --banner-font-size: 0.8em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    background-color: var(--banner-color);
}

nav > ul > li {
    padding: 1em 1em;
    margin: 0;
    border-right: inset 0.1em var(--nav-separator-color);
    display: flex;
    align-items: center;
    text-align: center;
}

header, footer {
    font-size: var(--banner-font-size);
}

header,
header a,
footer,
footer a {
    /* Because of sanitize.css included in the baseof.html template, the text
     * color has to be explicitly set on the a tags
     */
    color: var(--nav-text-color);
}

header a {
    text-decoration: none;
}

footer a {
    text-decoration: underline dotted;
    padding: 0.4em;
}

footer {
    display: flex;
}

.left-footer, .right-footer {
    flex: 1 1 auto;
}

.left-footer {
    display: flex;
    flex-flow: row wrap;
}

.right-footer {
    padding: 0.4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

@media screen and (max-width: 30em) {
    nav > ul {
        flex-flow: column nowrap;
    }

    nav > ul > li {
        border: 0 black;
        border-bottom: inset 0.1em var(--nav-separator-color);
        width: 100%;
    }

    nav > ul > li:last-child {
        border: 0 black;
    }

    footer {
        flex-flow: column wrap;
    }

    .left-footer {
        justify-content: center;
    }

    .right-footer {
        padding-top: 0;
        justify-content: center;
    }
}

main {
    flex: 1 1 auto;
    padding: 2em;
}

.iframe-container {
    position: relative;
    width: 100%;
}

.iframe-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

picture > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

footer {
    background-color: var(--banner-color);
}
