{{ if .IsNamedParams }}
  {{ .Scratch.Set "href" (.Get "url" | or (.Get "href")) }}
  {{ .Scratch.Set "name" (.Get "name" | or (.Get "text")) }}
{{ else }}
  {{ .Scratch.Set "href" (.Get 1) }}
  {{ .Scratch.Set "name" (.Get 0) }}
{{ end }}
{{ $href := .Scratch.Get "href" }}
{{ $name := .Scratch.Get "name" }}

{{ define "resourceimage" }}
  {{ if findRE `^https?://(www\.)?pollardbase.org` . }}
    <span><img src="{{ "/pollard_small.png" | relURL | safeURL }}" alt="PollardBase Logo"></span>
  {{ else if findRE `(?i)^https?://` . }}
    <span>🔗</span>
  {{ else }}
    {{ $ext := index (findRE `(?i)\.\w*?$` .) 0 | lower }}
    {{ if $ext | eq ".pdf" }}
      <span><img src="{{ "/icon_pdf.png" | relURL | safeURL }}" alt="PDF icon"></span>
    {{ end }}
  {{ end }}
{{ end }}
{{ $href = $href | relURL | safeURL }}
<a href="{{ $href }}" target="_blank">{{ template "resourceimage" $href }}{{ $name }}</a>
